<!--Компонент блока с чатом-->
<div class="col-12 col-lg-7 col-xl-9">

	<!--Компонент карточки пользовтеля сверху-->
	<ChatUserPresentation />

	<!--Компонент контейнера сообщений-->
	<MessageContainerComponent />

<<<<<<< Updated upstream
	<!--Компонент поля ввода сообщения-->
	<MessageInputField />
=======
@*<!--Компонент поля ввода сообщения-->
	<MessageInputField />*@
>>>>>>> Stashed changes

</div>
@code {

}