
@foreach (var user in UserList)
{
	<li @onclick="(()=>OnClick(user))"> <UserDisplayUnit User=user /></li>
}


<style> 
	li{
		list-style:none;
	}
</style>

@code {
	[Parameter]
	public List<User> UserList { get; set; } = new List<User>();
	public  static User selectedUser { get; set; } = new User();
	[Parameter]
	public  EventCallback<User> OnClickCallback { get; set; }

	public void OnClick(User user)
	{
		selectedUser = user;
		OnClickCallback.InvokeAsync(selectedUser);
	}
}