@foreach (var user in UserList)
{
		<ul>
			<li>@user</li>
		</ul>
}

<style>
	li{
		list-style:none;
	}
</style>


@code {

	[Parameter] public List<UserDisplayUnit> UserList { get; set; } = new List<UserDisplayUnit>();
	static void Found(string[] args)
	{
		List<UserDisplayUnit> UserList = new List<UserDisplayUnit>();
		UserList.Add(new UserDisplayUnit() { UserName = "Afonya" });
		UserList.Add(new UserDisplayUnit() { UserName = "Dmitriy" });
	}



}