@foreach (var user in UserList)
{
			<li> <UserDisplayUnit User="user" /></li>
}

<style>
	li{
		list-style:none;
	}
</style>


@code {

	[Parameter]
	public List<User> UserList { get; set; } = new List<User>();

}