<!--Компонент поиска в списке-->
<div class="px-4 d-none d-md-block">
	<div class="d-flex align-items-center">
		<div class="flex-grow-1">
			<input type="text" class="form-control my-3" placeholder="Search..." @bind="enteredText" @bind:event="oninput" />
			<span class="text-muted ml-5">
				Showing @FoundedUsers.Count out of @UserList.Count
			</span>
			<ContactsList UserList="@FoundedUsers" />
		</div>
	</div>
</div>

@code {
	[Parameter]
	public List<User> UserList { get; set; } = new List<User>()
{
new User(){},
new User( userName:"Igor"){},
new User(userName:"Egor"){}
};
	string enteredText { get; set; } = "";
	//public List<User> FoundedUsers { get; set; } = new List<User>();
	public List<User> FoundedUsers => UserList.Where(x => x.UserName.ToLower().Contains(enteredText.ToLower())).ToList();

	User userOpponent = new User();

	[Parameter]
	public EventCallback<User> OnClickCallBack { get; set; }

	private void OnClick()
	{
		OnClickCallBack.InvokeAsync(userOpponent);
		Console.WriteLine(userOpponent.UserName);
	}

}