<!--Компонент контейнера сообщений-->
<div class="position-relative">
	<div class="chat-messages p-4">

		<div class="chat-message-right pb-4">
			<ul>
				@* @foreach (string text in messages)
				{
				<li>@text</li>
				}*@
			</ul>
		</div>
	</div>
</div>

@code {

}