@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager

<MessageController OnReceiveMessageCallback="@GetMessageList" />
<ListSearch OnClickCallBack="@GetUser"/>

<div class="position-relative">

	<!--Компонент контейнера сообщений-->
	<div class="position-relative">
		<div class="chat-messages p-4">

			<ul>
				<!--Тут отображаем список сообщений-->
				@foreach (var message in MessageList)
				{
					<ul>
						<li><MessageLeft Message="@message"/></li>
					</ul>
				}

				@foreach (var message in MessageList)
				{
					<ul>
						<li><MessageRight Message="@message" /></li>
					</ul>
				}

			</ul>
		</div>

	</div>
</div>



@code {

	public static User User { get; set; } = new User(userName: "Default");

	[Parameter]
	public User UserOpponent{ get; set; }

	private void GetUser(User _userOpponent)
	{
		User = _userOpponent;

		Console.WriteLine(_userOpponent.UserName);
	}

	

	[Parameter]
	public List<Message> MessageList { get; set; } = new List<Message>()
	{
		new Message( User, "12:34","Bye")
		{
			
		},
		new Message(User, "20:00","Bye")
		{

		},
	};
	

	private void GetMessageList(List<Message> _MessageList)
	{
		MessageList = _MessageList;
	}
}