@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager


@*<MessageInputField OnClickCallback="@AddNewMessage" />
<div class="position-relative">
	<!--Компонент контейнера сообщений-->
	<div class="position-relative">
		<div class="chat-messages p-4">

			<ul>

				@foreach (string message in messages)
				{
					<!--Компонент отправленного сообщения-->
					<MessageRight Message="@message" />
				}


				@foreach (string message in messages)
				{
					<!--Компонент полученного сообщения-->
					<MessageLeft Message="@message" />
				}

			</ul>
		</div>

	</div>
</div>*@

@code {
	//private List<string> messages = new List<string>();

	//private void AddNewMessage(string message)
	//{
	//	messages.Add(message);
	//}
	[Parameter]
	public EventCallback<string> OnClickCallback { get; set; }

	void OnClick()
	{
		OnClickCallback.InvokeAsync(messageInput);
	}




}