@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager



<div class="position-relative">

	<!--Компонент контейнера сообщений-->
	<div class="position-relative">
		<div class="chat-messages p-4">
				<!--Тут отображаем список сообщений-->
				@foreach (var message in MessageList)
				{
					<ul>
						<li><MessageLeft Message="@message" /><MessageRight Message="@message" /></li>
					</ul>
				}
		</div>

	</div>
</div>

<MessageController OnReceiveMessageCallback="@GetMessageList" />


@code {

	public static User User { get; set; } = new User(userName: "Default");

	[Parameter]
	public User UserOpponent{ get; set; }

	private void GetUser(User _userOpponent)
	{
		User = _userOpponent;

		Console.WriteLine(_userOpponent.UserName);
	}



	[Parameter]
	public List<Message> MessageList { get; set; } = new List<Message>()
	{
		//new Message( User,"Bye","12:34")
		//{

		//},
		//new Message(User, "Hello","11:11")
		//{
			
		//}
	};
	

	private void GetMessageList(List<Message> _MessageList)
	{
		MessageList = _MessageList;
	}
}