@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager

<!--Компонент поля ввода сообщения-->
<div class="flex-grow-0 py-3 px-4 border-top">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Введите сообщение" @bind="@messageInput" />
		<button class="btn btn-primary" @onclick="@OnClick">Send</button>
	</div>
</div>

@code {

	// Receive перенести в mesengerContainer, но  для этого надо решить проблему с контекстом Хаба

	private string userNameInput;
	private string messageInput;

	//async Task Send()
	//{
	//	//событие которое слушает MessageController. Происходит Send, MC забирает данные userNameInput, messageInput
	//}
	[Parameter]
	public EventCallback<string> OnClickCallback { get; set; }

	void OnClick()
	{
		OnClickCallback.InvokeAsync(messageInput);
	}

}