<!--Компонент списка пользователей-->
<div class="col-12 col-lg-5 col-xl-3 border-right">

	<!--Компонент поиска в списке-->
	<ListSearch />

	<!--Компонент карточки пользовтеля в списке-->
	<UserDisplayUnit />

	<!--Компонент списка пользователей-->
	<ContactsList />

	<hr class="d-block d-lg-none mt-1 mb-0">
</div>

@code {



}