@using RealTimeChat1.Pages

<a href="#" class="@ChatPage.GetCssClass() list-group-item list-group-item-action border-0 ">
	<RealTimeChat1.Shared.UserView.NumberOfMessagesBadge NumberOfMessages="2"/>
	<div class="d-flex align-items-start" >
		<Avatar avatarImagePath = "@User.UserImage" />
		<div class="flex-grow-1 ml-3">
			<strong>@User.UserName</strong>
			<div class="small"><span class="fas fa-circle chat-online"></span> @User.NetworkStatus</div>
		</div>
	</div>
</a>
@code {

	[Parameter]
	public User User { get; set; } = new User(userName: "Default");



}